$primary: #409eff !default;
$success: #00d100 !default;
$warning: #e6a23c !default;
$danger: #f56c6c !default;
$basis: #fff !default;
$speed: 0.3s; // 切换的速度 包括开和关 过度效果

.z_switch {
  width: 64px;
  // height: 32px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 100px;
  background-color: #f0f0f0;
  cursor: pointer;
  -webkit-transition: all $speed ease 0s;
  transition: all $speed ease 0s;
  > i {
    display: block;
    height: 28px;
    width: 28px;
    border-radius: 100px;
    background-color: #fff;
    -webkit-transition: all $speed ease 0s;
    transition: all $speed ease 0s;
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.05);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); // <- Add this to fix.
  }
}

.z_switch_activate {
  -webkit-transition: all $speed ease 0s;
  transition: all $speed ease 0s;
  > i {
    margin-left: 36px;
  }
}

.z_switch_primary {
  background-color: $primary;
}
.z_switch_success {
  background-color: $success;
}
.z_switch_warning {
  background-color: $warning;
}
.z_switch_danger {
  background-color: $danger;
}
// .z_switch_basis {
//   background-color: $basis;
// }