#to {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    margin: 4px 20px 0px 20px;
    &:visited {
      color: aqua;
    }
    &:hover {
      color: aquamarine;
    }
  }
}